.element__like {
  margin: 0;
  padding: 0;
  border: none;
  width: 22px;
  height: 19px;
  background: url(../../../images/element-like.svg) center no-repeat;
}

.element__like:hover {
  opacity: .5;
  cursor: pointer;
}