.popup_opened {
  visibility: visible;
  opacity: 1;
  animation: openPopupAnimation 0.2s linear forwards;
}

@keyframes openPopupAnimation {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
