.popup__input-container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  border: none;
  max-width: 358px;
}
@media screen and (max-width: 767px) {
  .popup__input-container {
    max-width: 238px;
  }
}