.elements {
  margin: 51px auto 0;
  max-width: 880px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 17px;
  row-gap: 20px;
  justify-items: center;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .elements {
    padding: 0 19px;
    margin: 36px auto 0;
  }
}