.popup__close-icon {
  margin: 0;
  padding: 0;
  border: none;
  background: url(../../../images/close-icon-32.svg) center no-repeat;
  width: 32px;
  min-height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__close-icon {
    background: url(../../../images/close-icon-20.svg) center no-repeat;
    width: 20px;
    min-height: 20px;
    top: -36px;
    right: 0px;
  }
}
