.profile__info-edit {
  min-width: 24px;
  min-height: 24px;
  background-color: transparent;
  border: none;
  background: url(../../../images/edit-button-24.svg) center no-repeat;
  position: absolute;
  right: 0;
  top: 18px;
}

.profile__info-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__info-edit {
    background: url(../../../images/edit-button-18.svg) center no-repeat;
    right: 17px;
    top: 32px;
    min-width: 18px;
    min-height: 18px;
  }
}
