.popup__title {
  font-family: 'inter', Verdana, Geneva, Tahoma, sans-serif;
  max-width: 358px;
  text-align: left;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  margin: 0 auto;
  padding: 0 0 24px 0;
}

@media screen and (max-width: 767px) {
  .popup__title {
    margin: 0 auto;
    padding: 0 0 24px 0;
    max-width: 238px;
    font-size: 18px;
    line-height: 21.78px;
  }
}